img {
    height: 100%;
    width: 50%;
    float: left
}
.column {
    width: 40%;
    float: left;
    margin: 10px;
    border: dotted 1px olive;
    padding: 5px;

}    
.column a {
    font-style: oblique;
    background-color: aquamarine;
}
h1 {
    font-family: Tahoma;
    font-size: 300%;
    border: dotted 2px #2C3E50 ;
    padding: 10px;
    text-align: center;
}
.column ul p {
    font-style: italic;
    font-family: monospace;
}
h2 {
    font-family: cursive;
}